[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "lockfree/liblfds"]
	path = lockfree/liblfds
	url = git@github.com:liblfds/liblfds.git
[submodule "build/lockfree/relacy"]
	path = build/lockfree/relacy
	url = git@github.com:dvyukov/relacy.git
